@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c|Roboto+Slab');
*{
padding: 0;
margin: 0;
font-family: 'Roboto Slab', serif;
}
body{
		background-image: url(../image/section3.jpg);
background-repeat: no-repeat;
background-size: 100% 560px;
}
.main_story{
	margin: 0 auto;
	padding: 200px 0px 120px 0px; 
	height: 200px; width: 100%;
	background-image: url(../image/section3.jpg);
background-repeat: no-repeat;
background-size: 100% 560px;

}
.story_text{
	margin: 0 auto;
	padding: 50px 75px 50px 75px;min-height: 300px;
	color: rgba(0,0,0,0.5);
	width: 60%;border-radius: 7px; 

	font-weight: 400;
line-height: 30px;font-size: 18px;
letter-spacing: .3px;

}
.hashtag{
	color: #ffb0c2;
}